div.related {
    background-color: #356eb7;
}

#versions {
    position: relative;
    color: #444;
}

#versions > span.version {
    cursor: pointer;
}

#versions > span.version::after {
    content: " â®";
}

#versions.opened > span.version {
    display: none;
}

#versions:not(.opened) > span.links {
    display: none;
}
