name: fluent.runtime

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
    paths:
      - .github/workflows/fluent.runtime.yml
      - "fluent.runtime/**"
      - "!fluent.runtime/docs/**"
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/fluent.runtime.yml
      - "fluent.runtime/**"
      - "!fluent.runtime/docs/**"

jobs:
  unit:
    name: unit tests
    runs-on: ubuntu-20.04 # https://github.com/actions/setup-python/issues/544
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, pypy3.9]
        fluent-syntax: [0.18.1]
        include:
          - python-version: 3.9
            fluent-syntax: 0.17.0
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./fluent.runtime
        run: |
          python -m pip install wheel
          python -m pip install --upgrade pip
          python -m pip install fluent.syntax==${{ matrix.fluent-syntax }} six
          python -m pip install .
      - name: Test
        working-directory: ./fluent.runtime
        run: |
          ./runtests.py
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install dependencies
        working-directory: ./fluent.runtime
        run: |
          python -m pip install wheel
          python -m pip install --upgrade pip
          python -m pip install .
          python -m pip install flake8==6 mypy==1 types-babel types-pytz
      - name: Install latest fluent.syntax
        working-directory: ./fluent.syntax
        run: |
          python -m pip install .
      - name: flake8
        working-directory: ./fluent.runtime
        run: |
          python -m flake8
      - name: mypy
        working-directory: ./fluent.runtime
        run: |
          python -m mypy fluent/
