name: fluent.syntax

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    paths:
      - .github/workflows/fluent.syntax.yml
      - "fluent.syntax/**"
      - "!fluent.syntax/docs/**"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/fluent.syntax.yml
      - "fluent.syntax/**"
      - "!fluent.syntax/docs/**"

jobs:
  unit:
    name: unit tests
    runs-on: ubuntu-20.04 # https://github.com/actions/setup-python/issues/544
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, pypy3.9]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./fluent.syntax
        run: |
          python -m pip install wheel
          python -m pip install --upgrade pip
          python -m pip install .
      - run: ./runtests.py
        working-directory: ./fluent.syntax
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.9
      - name: Install dependencies
        working-directory: ./fluent.syntax
        run: |
          python -m pip install --upgrade pip
          python -m pip install .
          python -m pip install flake8==6 mypy==1
      - run: python -m flake8
        working-directory: ./fluent.syntax
      - run: python -m mypy fluent/
        working-directory: ./fluent.syntax
