name: fluent.syntax

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
    paths:
      - .github/workflows/fluent.syntax.yml
      - 'fluent.syntax/**'
      - '!fluent.syntax/docs/**'
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/fluent.syntax.yml
      - 'fluent.syntax/**'
      - '!fluent.syntax/docs/**'

jobs:
  unit:
    name: unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, pypy2, pypy3]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./fluent.syntax
        run: |
          python -m pip install wheel
          python -m pip install --upgrade pip
          python -m pip install six
      - name: Test
        working-directory: ./fluent.syntax
        run: |
          ./runtests
  syntax:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8==3.7.9
      - name: lint
        working-directory: ./fluent.syntax
        run: |
          flake8
